@import "tailwindcss";

html, body,#main-root {
  height: 100%;
  margin: 0;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  border: 1px solidrgb(23, 72, 169);
  justify-content: center;  /* center horizontally */
  align-items: center;      /* center vertically */
  min-height: calc(100vh - var(--navbar-height)); /* fill viewport minus navbar */
  padding-top: var(--navbar-height);
  border-radius: 0.75rem;
  background: white;
  width: 260px;
}

input,
button {
  padding: 0.5rem;
  font-size: 1rem;
}

button {
  cursor: pointer;
}

.superbutton{
  @apply rounded-2xl
  border-2 border-dashed border-black bg-white px-5 py-3 font-semibold uppercase text-black transition-all
  duration-300 hover:translate-x-[-4px] hover:translate-y-[-4px] hover:rounded-md hover:shadow-[4px_4px_0px_black]
  active:translate-x-[0px] active:translate-y-[0px] active:rounded-2xl active:shadow-none
  
}